@import '../base.block/theme.scss';

.header__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--indent-m) 0;
}

.header__wrapper {
    display: block;
    background-color: rgba(93, 95, 121, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header__nav {
    @include theme;
    @include theme_color_menu;
    @include theme_font_menu;
    display: flex;
    flex-direction: column;
    padding: var(--indent-xl);
    width: 60%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
}

.header__link {
    width: 100%;
    padding: var(--indent-s);
}

.header__link:nth-child(2) {
    margin-top: 20%;
}

.header__close {
    width: 24px;
    height: 24px;
    align-self: flex-end;
}

.header__none {
    display: none;
}

@media (min-width: 1440px) {
    .header {
        padding-top: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__wrapper {
        position: unset;
        width: fit-content;
        height: fit-content;
    }

    .header__nav {
        @include theme;
        @include theme_color_light;
        @include theme_font_s;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: fit-content;
        padding: var(--indent-xl);
        position: unset;
        padding: 0;
    }

    .header__link {
        padding: 0;
        padding-left: 38px;
    }

    .header__link:nth-child(2) {
        margin-top: 0;
    }

    .header__burger {
        display: none;
    }

    .header__close {
        display: none;
    }

    .header__none {
        display: block;
    }
}