@import '../base.block/theme.scss';

.hero {
    display: inline-flex;
    flex-direction: column;
    gap: var(--indent-m);
    margin-top: var(--indent-xxxxxl);
}

.hero__image {
    width: 100%;
}

.hero__title {
    @include theme_font_xl;
}

.hero__text {
    @include theme_font_s;
}

.hero__link {
    @include theme;
    @include theme_color_accent;
    padding: var(--indent-s) var(--indent-xxl);
    width: fit-content;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-size: 12pt;
    font-family: 'Inter Bold', sans-serif;
    display: block;
    margin-top: var(--indent-m);
}

@media (min-width: $desktop) {
    .hero {
        width: 65.8%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 34px;
        gap: 28px;
    }

    .hero__image {
        flex: 2;
    }

    .hero__title {
        flex: 1;
        margin-top: -2px;
        letter-spacing: 0.01em;
        line-height: 1em;
        font-size: 42pt;
    }
    
    .hero__text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 15px;
        line-height: 1.6em;
        margin-top: -8px;
    }

    .hero__link {
        padding: 13px 31px;
        margin-top: 0;
        font-size: 15px;
    }
}