@import '../base.block/theme.scss';

.page {
    margin: 0 var(--indent-s);
}

@media (min-width: $mobile) {
    .page__main {
        width: 325px;
        margin: 0 auto;
    }
}

@media (min-width: $desktop) {
    .page {
        margin: 0 150px;
    }

    .page__main {
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}